/* Base */
body {
  font-family: Courier;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .05px;
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Wrapper */
.content {
  flex: 1; /* push footer down */
  max-width: 38em;
  margin: 70px auto;
  padding: 0 .6em;
}

.site-title {
  font-size: 2.0em;
  font-weight: 600;
  margin: 0 0 20px 0;
  text-align: center;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}


.text-section { 
  order: 1;                     
  flex: 1 1 55%;
}

.image-section { 
  order: 2;
  flex: 0 0 auto;
}

.image-section img {
  width: 350px;
  max-width: 100%;
  height: auto;
  display: block;
}

.site-footer {
  text-align: left;
  padding: 10px;
  border-top: 1px solid #ccc;
  background: #f9f9f9;
}
.site-footer a { color: #000; text-decoration: none; }
.site-footer a:hover { text-decoration: underline; }

h2 { font-size: 1.4em; font-weight: 550; margin-block-end: 0.6em; }
h3 { font-size: 1.1em; font-weight: 500; margin-block-start: 1em; margin-block-end: 0.6em; }
p  { margin-block: 0.6em; }
b  { font-weight: 500; }
ul { padding-left: 1.2em; }
li { margin: 5px 0; }
figcaption { font-size: 9pt; font-style: italic; text-align: center; }
table { margin-left: auto; margin-right: auto; }
th, td { text-align: center; padding: 0 10px; }
sup, sub { line-height: 0; font-size: 75%; }
blockquote { border-left: 4px solid #ccc; margin: 1em 0; padding: 0 1.5em; }

@media (max-width: 720px) {
  .main-section {
    flex-direction: column;   /* stack */
  }
  .text-section, .image-section {
    order: initial;
    flex: 1 1 auto;
  }
  .image-section img {
    width: 100%;              /* full width on mobile */
  }
}

